nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(20, 22, 25);
    overflow: hidden;
    width: 100%;
    z-index: 99999;
}

.selected {
    text-decoration: underline;
}

body {
    padding-top: 45px;
    color: rgb(179, 180, 189);
    background-color: rgb(44, 46, 48);
    line-height: 1.5;
    margin-bottom: 2%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
}

li a {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: rgb(179, 180, 189);
}

li a:hover {
    background-color: gray;
    color: black;
}

canvas {
    border: 1px solid black;
}

.controls {
    position: absolute;
    margin-left: 10px;
    display: inline-block;
}

.slider {
    margin-bottom: 10px;
}

#colorDisplay {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0, 1fr));
    row-gap: 1%;
    column-gap: 1%;
    text-align: center;
    font-size: 2vw;
    margin-left: 5%;
    margin-right: 5%;
}

.gridItem {
    position: relative;
    border: 0.5px solid black;
}

.gridItem a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.gridItem:hover .gridItemPopUp{
    visibility: visible;
    border: 1px solid rgb(88, 166, 255);
}

.gridItem .gridItemPopUp{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(20, 22, 25);
    color: rgb(88, 166, 255);
    overflow: hidden;
}

.gridItem .gridItemPopUp p{
    position: relative;
    font-size: 1.5vw;
    top: 20%;
    z-index: 0;
}

.gridItem img {
    max-width: 100%;
    max-height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: rgb(88, 166, 255);
    font-weight: bold;
    text-decoration: none;
}

.headshot {
    max-width: 25%;
    max-height: 20%;
}

.smallPhoto {
    max-width: 15%;
    max-height: 10%;
}

.bio {
    padding-bottom: 10%;
}

html {
    scroll-behavior: smooth;
}

.scrollLocation {
    padding-top: 5%;
    height: 10%;
}